.cart-summary-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cart-summary-price {
  font-size: 24px;
  color: #616e7c;
  margin-bottom: 5px;
  font-weight: 500;
}
.cart-summary-items {
  margin-bottom: 5px;
  color: #616e7c;
  font-weight: 600;
  text-align: left;
}
.price {
  font-size: 24px;
  color: #171f46;
}
.checkout-button {
  height: 34px;
  width: 100%;
  background-color: #0b69ff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .checkout-button {
    width: 150px;
    align-self: flex-end;
  }
}
